
@media screen and (max-width: 480px) {
    
    
    body {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    header {
        display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;
        height: 20%;
        background-color: rgb(209 216 220 / 44%);
        box-shadow: 2px 2px rgb(200, 200, 200);
    }
    
    img {
        position: relative;
        max-height: 80%;
        width: 80%;
        border-radius: 50%;
    }
    
    li {
        font-size: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: rgb(195, 198, 37, 0.786);
        list-style-type: none;
    }


    main {
        display: flex;
        height: 40%;
        width: 100%;
    }
    
    .name {
        display: none;
    }

    .imageDiv {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 30%;    
    }
    
    .informationListDiv {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        width: 40%;
    }
    
    .informationListUl {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    
    .languagesDiv {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    
    .flagContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }

} 

 @media screen and (min-width: 481px) and (max-width: 900px) {
    
     header {
         display: flex;
         position: relative;
         justify-content: space-evenly;
         flex-direction: row;
         width: 100%;
         height: 20%;
     }
     
     img {
         position: relative;
         height: 80%;
         border-radius: 50%;
     }
     
     li {
         font-size:xx-large;
         font-family:Georgia, 'Times New Roman', Times, serif;
         color: rgb(195, 198, 37, 0.786);
     }

     .imageDiv {
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         width: 30%;    
     }
     
     .informationListDiv {
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         flex-direction: row;
         width: 65%;
     }
     
     .informationListUl {
         width: 100%;
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         flex-direction: row;
     }
     
     .languagesDiv {
         width: 5%;
         display: flex;
         align-items: flex-start;
         flex-direction: column;
     }
     
     .flagContainer {
         display: flex;
         justify-content: center;
         align-items: center;
     }
 }
